<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :slug %>
  <%= text_input f, :slug %>
  <%= error_tag f, :slug %>

  <%= label f, :description %>
  <%= textarea f, :description %>
  <%= error_tag f, :description %>

  <%= label f, :base_price %>
  <%= number_input f, :base_price, step: "any" %>
  <%= error_tag f, :base_price %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
