<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Description</th>
      <th>Base price</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for product <- @products do %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.slug %></td>
      <td><%= product.description %></td>
      <td><%= product.base_price %></td>

      <td>
        <span><%= link "Show", to: Routes.product_path(@conn, :show, product) %></span>
        <span><%= link "Edit", to: Routes.product_path(@conn, :edit, product) %></span>
        <span><%= link "Delete", to: Routes.product_path(@conn, :delete, product), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Product", to: Routes.product_path(@conn, :new) %></span>
